/*Base styles*/
@import 'base/reset';
@import 'base/fonts';
@import 'base/settings';
@import 'base/mixins';


/*Plugins styles*/
@import 'plugins/slick';
@import 'plugins/slick-theme';
@import 'plugins/magnific-popup';


/*Parts styles*/

@import 'parts/popup';
@import 'parts/buttons';
@import 'parts/footer';
@import 'parts/contacts';
@import 'parts/reviews';
@import 'parts/scheme';
@import 'parts/benefits';
@import 'parts/services';

/*=====================================================================================*/
/*  HEADER STYLES  */ 
body {
    padding-top: 90px; 
    /*.................media.............*/
    @include m1000 {
        padding-top: 0; 
    }
}         
h1 {
    font: 50px $hb; 
    text-transform: uppercase;
    em {
        color: $orange;
        font-size: 55px;  
        font-style: normal; 
    }
    span {
        font-size: 31px; 
    }
    &:after {
        display: block;
        width: 96px;
        content: "" ;
        height: 3px;
        background-color: $orange;
        margin: 34px 0;   
    }
    @include m800 {
       font-size: 46px; 
       em {
            font-size: 52px;
        }
        span {
            font-size: 28px;
        } 
    }
    @include m600 {
       font-size: 40px; 
       em {
            font-size: 46px;
        }
        span {
            font-size: 24px;
        }  
    }
    @include m400 {
       font-size: 36px; 
       &:after {
           margin: 20px 0; 
       }
       em {
            font-size: 40px;
        }
        span {
            font-size: 20px;
        }  
    }
    @include m360 {
       font-size: 28px; 
       em {
            font-size: 32px;
        }
        span {
            font-size: 20px;
        }  
    }
}
.subtitle {
    margin: 40px auto;
    font-size: 20px; 
    color: #FFF; 
    span {
        color: $orange; 
    } 
}
.white {
    color: #FFF 
}

.header {
    @include position(fixed, 0, auto, auto, 0);
    width: 100%;
    z-index: 100;
    background: #fff;
    margin: 0;
    height: 90px; 
    @include transition(all, .4s);
    @media (min-width: 1000px) {
         background-image: url("../images/header_bg.jpg");
    }
    background-repeat: no-repeat;
    background-position: 50% 50%; 
    .wrapper {
         @include flex();
         height: 100%; 
    }
    &__contact {
       width: 145px; 
       font-family: $hr;  
       color: #333; 
       a {
         font-size: 16px;
         display: block;
         margin-bottom: 10px; 
         vertical-align: middle;
         &:before {
             content: "";
             display: inline-block;
             vertical-align: middle;
             width: 11px;
             height: 12px;
             background-image: url("../images/telSign.png");
             -webkit-background-size: 100% 100%; 
             -o-background-size: 100% 100%; 
             background-size: 100% 100%; 
             margin-bottom: 2px; 
             margin-right: 4px; 
         }
       }
       /*.................media.............*/
        @include m1000 {
            margin: 20px auto;
            display: block; 
        }
    }
    
        /*.................media.............*/
        @include m1000 {
            @include position(fixed, 0, auto, auto, -100%);
            width: 260px !important;
            height: 100%;
            text-align: center;
            background-color: #EAEAEA;
            margin-top: 0;
            padding: 20px 0;
            z-index: 100;
            overflow: scroll;
            padding: 40px 0 20px; 
             
            &.active { left: 0;}
            .wrapper {
                   width: 100%;
                   display: block;
            }
        }
        /*.............end media..............*/
}


/* ------------------------------------ */
/*  LOGO STYLES  */

.logo {
    position: relative;
    display: block;
    & img {
        height: 100%;
        display: inline-block;
        vertical-align: middle;   
    }
    & p {
        display: inline-block;
        vertical-align: middle;
        padding-left: 18px;
        text-transform: uppercase;
        text-align: left;
        padding-top: 6px;
        span{
         display: inline-block;
        }
        strong {
            color: #000;
            text-transform: none;
            display: block;
            margin-top: 5px;
            padding-left: 2px;
        }
    }
}


/* ------------------------------------ */
/*  NAV STYLES  */
nav {
    height: 100%;
    @include m1000 { 
        height: auto;
        margin-top: 40px; 
    }
}
nav ul {
    @include flex();
    list-style-type: none;
    height: 97%;
    margin: 0; 
    a {
        display: inline-block;
        text-decoration: none;
        margin: 0 10px; 
        font: 13px/90px $hr; 
        text-transform: uppercase;
        color: #333; 
        border-bottom: 3px solid transparent;
        height: 100%;
        @include transition(all, .2s);             
        &:hover {
            border-bottom: 3px solid $orange;
        }
    }

        /*.................media.............*/
        @include m1000 { 
            display: block;
            height: auto; 
            position: relative;
            li a  {   
                margin: 0 0 15px 0;
                line-height: 60px; 
                &.active {font-family: $hb }
                &:hover  {font-family: $hb}
            } 
        }
        /*.............end media.............*/
}



/* ------------------------------------ */
/*  MENU BUTTON  */

.menu-button     {    
    display: none;
    width: 50px;
    height: 50px;
    @include position(fixed, 15px, 15px, auto, auto);
    margin: auto; 
    cursor: pointer;
    z-index: 100;
    background-color: $orange;
    border: none;
    -webkit-border-radius: 4px;
            border-radius: 4px;
    .menu-line {
        display: block;
        @include position(absolute, auto, 0, auto, 0);
        width: 60%;
        height: 5px;
        background-color: #fff;
        -webkit-border-radius: 1px;
        border-radius: 1px;
        @include transition(all, .4s);
    }

    .top_line              {   top: 12px;  margin: auto;}
    .middle_line           {   top: 22px;  margin: auto;}
    .bottom_line           {   bottom: 12px; margin: auto;}

    &.active               {   -webkit-border-radius: 6px; border-radius: 6px;}
    &.active .top_line     {   @include transform(rotate(45deg)); top: 45%;}
    &.active .bottom_line  {   @include transform(rotate(-45deg)); bottom: 45%;}
    &.active .middle_line  {   width: 0; left: 50%;}

        /*.................media.............*/
        @include m1000 {
            display: block;
        }
        /*..............end media.............*/

}





/*=====================================================================================*/
/*  OFFER STYLES  */ 


.offer {
    height: 550px;
    background: url('../images/offerBg.jpg') no-repeat center center;
    background-size: cover;
    position: relative;
    
     /*.................media.............*/
    @include m1000 {
        height: auto;
        padding: 40px 0; 
    }
    
    .wrapper {
        height: 100%;
        text-align: justify;
        @include flex();
         /*.................media.............*/
        @include m1000 {
            display: block;
            text-align: center;
        }
    }

    .offerInfo {
        display: inline-block;
        vertical-align: middle;
        width: 510px;
        text-align: left;
        color: #FFF; 
        ul {
            list-style-type: none;
            li {
                margin-bottom: 30px;
                font: 20px/31px $hl;  
                padding-left: 60px; 
                position: relative;
                &:after {
                    content: "";
                    display: block;
                    width: 28px;
                    height: 30px; 
                    position: absolute;
                    left: 0;
                    top: 6px;
                    background-repeat: no-repeat;
                    -webkit-background-size: 100% auto; 
                      -o-background-size: 100% auto; 
                      background-size: 100% auto;   
                }
                &:first-of-type {
                    &:after {
                        background-image: url("../images/li_1.png")
                    }
                }
                &:nth-of-type(2) {
                    &:after {
                        background-image: url("../images/li_2.png")
                    }
                }
                @include m600 { 
                    padding-left: 40px;
                    font: 18px/24px $hl;  
                }
            }
        }
         /*.................media.............*/
            @include m1000 {
               margin-bottom: 40px 
            }
            @include m600 {
               width: 100%;  
            }
    }

    form {
        display: inline-block;
        vertical-align: middle;
        @include m1000 {
           display: block;
           margin: 20px auto;  
        }
    }

}

form {
    width: 320px;
    background-color: #FFF; 
    text-align: center; 
    -webkit-border-radius: 4px; 
    border-radius: 4px; 
    @include m360 {
       width: 100%;  
       .button {
        width: 100%; 
       } 
    }
    .wrapFields {
        padding: 35px 40px;
    }
    p {
        background-color: $orange;
        color: #FFF; 
        font-size: 18px; 
        padding: 35px 40px;
        span {
            color: #333;
            font-size: 22px; 
        }   
        @include m360 {
             padding: 35px 20px;
            span {
                display: block
            }
        }
    }
    .inputWrap {
        width: 100%; 
        background: url('../images/icon_person.png') no-repeat 2% 50%;
        -webkit-background-size: 10px 12px; 
        -o-background-size: 10px 12px; 
        background-size: 10px 12px; 
        &--tel {
            background: url('../images/icon_tel.png') no-repeat 2% 50%;
            -webkit-background-size: 12px 12px; 
            -o-background-size: 12px 12px; 
            background-size: 12px 12px; 
        }
    }
    input {
        width: 100%;
        border: none;
        border-bottom: 1px solid #333;
        margin-bottom: 30px;
        padding: 10px 30px;     
        font: 16px $hl;
        color: #333;  
        background: transparent; 
        @include m360 {
            font-size: 14px; 
        }
    }
    &.horizontal {
        width: 100%; 
        .wrapFields {
            width: 100%; 
            padding: 24px 38px; 
            .inputWrap {
                display: inline-block;
                width: 268px;
                margin-right: 35px;
                margin-bottom: 0;  
                input {
                    margin-bottom: 0; 
                } 
                 @include m1000 {
                     width: 70%;
                     display: block;
                     margin: 20px auto;  
                 }
                  @include m500 {
                     width: 100%;
                 }
            }
        }
    }
}


.about {
    @media (min-width: 1000px) {
        background-image: url("../images/aboutBg.jpg");   
    }
    @include m1600 {
        background-position: 40% 0; 
    }
    background-repeat: no-repeat;
    background-position: 0% 0%; 
    h2 {
        margin: 0px auto 60px; 
        padding: 0; 
        position: relative;
        &:after {
            display: block;
            width: 34px;
            content: "" ;
            height: 3px;
            background-color: $orange;
            margin: 34px auto;   
        }
        @include m600 {
           margin-bottom: 0; 
           &:after {
               margin: 20px auto; 
           }
        }
    } 
}

.notDo {
    position: relative;
    overflow: hidden;
    overflow: hidden;
    .wrapper {
        @include flex($wrap: wrap );
        height: 180px;
        @include m1000 {
            height: auto;
            -webkit-justify-content: center; 
            justify-content: center;
        }
    }
    &__item {
        i {
            margin-right: 16px;
            display: inline-block;
            vertical-align: middle; 
            background-image: url("../images/icons_not.png");
            background-repeat: no-repeat;
            width: 55px;
            height: 55px;
            @include m600 {
                min-width: 64px;
            }
        }
        &:first-of-type {
            i {
                background-position: -4px -143px; width: 51px; height: 52px;
            }
        }
        &:nth-of-type(2) {
             i {
                    background-position: -4px -88px;  width: 65px; height: 52px;
            }
        }
         &:nth-of-type(3) {
             i {
                background-position: -4px -0px; width: 66px; height: 34px;
            }
        }
         &:last-of-type {
             i {
                background-position: -4px -38px; width: 65px; height: 46px;
            }
        }
        p {
            min-height: 88px;
            display: inline-block;
            vertical-align: middle;
            text-align: left;
            width: 100px; 
            font-size: 15px; 
            span {
                font: 35px $hb; 
                text-align: left;
                display: block;
                margin-bottom: 16px; 
            }
            small {
                font: 14px $hl; 
                text-align: left;
            }

        }
        &:nth-of-type(2) {
            p {
                width: 75px 
            }
        }
         &:nth-of-type(3) {
           p {
                width: 115px 
            }
        }
         &:last-of-type {
            p {
                width: 195px;
            }
        }
        @include m1000 {
            margin: 20px;
            text-align: left;
        }
        @include m600 {
            width: 100%;  
            p {
                width: 150px !important ;
            }      
        }
    }
}

.mapBlock {
    position: relative;
    display: block;
    padding-top: 60px; 
    padding-bottom: 80px; 
    overflow: hidden;
    .mapImg {
        position: absolute;
        top: 195px;
        left: 51.2%;
        @include m1000 {
            margin-left: 280px;
            position: static
        }
        @include m600 {
            margin-left: 123px ;
            margin-top: -40px;
        }
    }
    &__scale {
        display: block;
        width: 300px;
        overflow: visible;
        position: relative;
        z-index: 2; 
        p {
            font-size: 24px;
            span {
                font-family: $hb;
                text-transform: uppercase;
                color: $orange;
                display: block; 
                margin-top: 5px; 
            }
        }
        @include m500 {
            width: 100%; 
            p {
                font-size: 20px; 
            } 
        }
        img {
            position: absolute;
            right: -276px;
            top: 16px;
            @include m1000 {
                right: -76px;
                top: -340px;
            }
            @include m600 {
                right: 95px;
                top: -278px;
                width: 180px;
            }
        }
        &:after {
            display: block;
            content: '';
            width: 100px;
            height: 80px;
            position: absolute;
            top: 95px;
            left: 136px;
            background-image: url("../images/mapArrow.png");
            -webkit-background-size: 100% 100%; ;
            -o-background-size: 100% 100%; ;
            background-size: 100% 100%;
            @include m1000 {
               top: -124px;
                left: 17px;
                -moz-transform: scale(1, -1) rotate(35deg);
                -webkit-transform: scale(1, -1) rotate(35deg);
                -o-transform: scale(1, -1) rotate(35deg);
                -ms-transform: scale(1, -1) rotate(35deg);
                transform: scale(1, -1) rotate(35deg);
            }
        }
    }
    &__info {
        margin-top: 250px; 
        p {
            font: 24px $hl; 
            text-align: left;
        }
        @include m1000 {
            margin-top: 60px 
        }
        @include m500 {
           p {
               font-size: 20px; 
               text-align: center;
           }
        }
    }

}

.info__nubers {
    width: 430px;
    text-align: left; 
    margin-top: 40px;
    display: inline-block;
    vertical-align: top;
    margin-right: 5px; 
    @include m600 {
        width: 100%;
        margin-right: 0;  
    } 
    &:last-of-type {
        margin-right: 0; 
    }
    &__num {
        position: relative;
        font: 70px $hb; 
        padding: 8px 0;
        text-align: right;
        width: 170px;  
        margin-right: 12px; 
        display: block; 
         display: inline-block;
        vertical-align: middle;
        &:after {
            content: "";
            display: block;
            width: 120px;
            height: 90px;
            border: 3px solid $orange;
            position: absolute;
            right: 25px;
            top: 0;   
            -webkit-transform: skewX(25deg); 
             -moz-transform: skewX(25deg); 
             -ms-transform: skewX(25deg); 
             -o-transform: skewX(25deg); 
             transform: skewX(25deg);  
        }
        span {
            display: inline-block;
            background-color: #FFF; 
            position: relative;
            z-index: 2; 
            border-radius: 20px;
        }
        @include m600 {
            font-size: 50px;
            margin: 10px auto; 
            display: block; 
            width: 140px; 
            &:after {
                width: 90px;
                height: 70px;
            }
        } 
    }
    &__des {
         display: inline-block;
        vertical-align: top;
        width: 225px; 
        padding-right: 12px;
        padding-top: 7px; 
        h4 {
            font: 20px $hb; 
            margin-bottom: 14px; 
        }
        p {
            font: 16px/21px $hl; 
        }
        @include m600 {
            width: 100%;
            text-align: center;
            p {
                text-align: center;
            } 
        }
    }
    &:nth-of-type(2) {
            h4 {
                margin-bottom: 8px; 
            }
    }
}


.autoParts {
    background: url('../images/autoPartsBg.jpg') no-repeat center center;
    background-size: cover;
    padding: 0px 0 70px; 
    &__infoBlocks {
        @include flex($alignI: flex-start, $wrap: wrap);
        &__item {
            &__img {
                position: relative;
                width: 120px;
                height: 105px;  
                display: block;
                margin: 0 auto 17px; 
                text-align: center;
                &:before {
                    content: "";
                    height: 100%;
                    margin-right: -3px;   
                    display: inline-block;
                    vertical-align: middle;
                }
                img {
                    display: inline-block;
                    vertical-align: middle;
                    margin: 0 auto;
                    width: 48px;  
                }
                &:after {
                    content: "";
                    display: block;
                    width: 120px;
                    height: 100%;
                    border: 3px solid $orange;
                    position: absolute;
                    right: 0px;
                    top: 0;   
                    -webkit-transform: skewX(25deg); 
                     -moz-transform: skewX(25deg); 
                     -ms-transform: skewX(25deg); 
                     -o-transform: skewX(25deg); 
                     transform: skewX(25deg);  
                }
            }
            &:nth-of-type(3n + 2) {
                margin: 0 40px 40px; 
            }
             p {
                font: 18px $hl;
                color: #FFF;  
                padding:  0 10px; 
            }
             @include m1000 {
                width: 300px; 
                 margin: 0 0 40px !important; 
             }
        }
        @include m1000 {
             -webkit-justify-content: center; 
                justify-content: center; 
        }
    }
    .wrapper > p {
        font-size: 18px;
        color: #FFF;
        margin-bottom: 45px; 
    }
}