.benefits {
	&-box {
		@extend %clearfix;
		padding: 45px 0 40px;
	}

	&__item {
		width: 33.3333%;
		float: left;
		padding: 0 35px;
		height: 162px;

		@media ($tablets) {
			height: auto;
		}

		@media ($phones) {
			width: 280px;
			display: block;
			margin: 0 auto 60px;
			float: none;
			padding: 25px 10px;
			box-shadow: 6.576px 13.482px 49px 5px rgba(0, 0, 0, 0.13);

			&:last-child {
				margin-bottom: 20px;
			}
		}

		&:not(:last-child) {
			border-right: 1px solid #F1F1F1;

			@media ($tablets) {
				border-right: 0;
			}
		}

		.image {
			height: 80px;
			text-align: center;
			margin-bottom: 30px;

			img {
				height: 100%;
			}
		}

		.text {
			@media ($phones) {
				font-size: 18px;
			}
		}
	}

	.garanty {
		font-size: 20px;
		color: #bd0e0e;
		text-transform: uppercase;
		font-family: $hb;
		padding-bottom: 65px;
	}
}