.button {
	width: 240px;
	height: 50px;
	padding-top: 4px;
	display: inline-block;
	vertical-align: middle;
	background-color: $orange;
	border: 0;
	border-radius: 5px;
	box-shadow: 0 4px #D28807, 0px 5px 32px 5px rgba( 210, 136, 8, .42);
	color: #fff;
	font-size: 18px;
	position: relative;

  	&:hover {
  		top: 1px;
		box-shadow: 0 3px #D28807, 0px 4px 32px 5px rgba( 210, 136, 8, .42);
  	}

  	&:active {
  		top: 3px;
		box-shadow: 0 1px #D28807, 0px 2px 32px 5px rgba( 210, 136, 8, .42);
  	}

  	&--small {
  		width: 140px;
  		height: 30px;
  		font-size: 16px;
  		font-family: $hl;
  		border-radius: 3px;
  		padding-top: 2px;
 	 	box-shadow: 0 3px #D28807, 0px 5px 9px 5px rgba( 210, 136, 8, .32);

 	 	&:hover {
	  		top: 1px;
			box-shadow: 0 2px #D28807, 0px 4px 9px 5px rgba( 210, 136, 8, .32);
	  	}

	  	&:active {
	  		top: 2px;
			box-shadow: 0 1px #D28807, 0px 3px 9px 5px rgba( 210, 136, 8, .32);
	  	}
  	}
}