// COLORS
// ---------------------------
$orange:						#FFA200;
$grey:							#333;

// FONTS
// ---------------------------
$hr: 							'HelveticaNeueCyr';
$hb:							'HelveticaNeueCyr Bold';
$hl:							'HelveticaNeueCyr Light';


// RESPONSIVE
// ---------------------------



// TYPOGRAPHIC
// ---------------------------
html,
body {
	height: 100%;
}
body {
	font-family: $hr;
	color: $grey;
}
h2 {
	font-family: $hb;
	font-weight: normal;
	font-size: 35px;
	color: #333;
}
.white {
	color: #FFF;
}




// lAYOUT
// ---------------------------
.wrapper {
	width: 980px;
	padding: 0 20px;
	margin: 0 auto;
    text-align: center;
}