// COLORS
// ---------------------------
$orange:						#FFA200;
$grey:							#333;

// FONTS
// ---------------------------
$hr: 							'HelveticaNeueCyr';
$hb:							'HelveticaNeueCyr Bold';
$hl:							'HelveticaNeueCyr Light';


// RESPONSIVE
// ---------------------------
$tablets:						'max-width: 1000px';
$phones:						'max-width: 750px';


// TYPOGRAPHIC
// ---------------------------
body {
	height: 100%;
}
body {
	font-family: $hr;
	color: $grey;
}
h2 {
	font-family: $hb;
	font-weight: normal;
	font-size: 35px;
	color: #333;
	text-transform: uppercase;
	padding-top: 65px;

	@media ($phones) {
		font-size: 28px;
	}
}
.white {
	color: #FFF;
}




// lAYOUT
// ---------------------------
.wrapper {
	width: 980px;
	padding: 0 20px;
	margin: 0 auto;
    text-align: center;

    @media ($tablets) {
    	width: 100%;
    	padding: 0 20px;
    }
}